{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<div class="container">
    <p><h1>Your Cart</h1></p>
    <hr>
    <div class="container">
        {% if items | length %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <form action="{{ path('app_cart_remove', {'id': item.id}) }}" method="POST">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td>{{totalPrice}}</td>
                    <br><br>
                    <a class="btn btn-danger" href="{{ path('app_cart_clear') }}">Clear Cart</a>
                    <br><br>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        {% else %}
        <p>Your Cart is Empty !</p>
        {% endif %}
    </div>
    <a class="btn btn-primary" href="{{ path('app_home') }}">Home</a>
</div>
<hr>
{% endblock %}
