{% extends 'base.html.twig' %}


{% block title %}Campy{% endblock %}

{% block body %}
<div class="container">
    <h1>{{subCategory.name}}</h1>
    <br>
    <div class="row">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('uploads/product_images/'~product.image) }}" class="card-img-top" alt="...">
            <div class="card-body">
            <a style= "text-decoration: none ; color:black "  href="{{ path ('app_home_show_product',{'id':product.id})}}"><h5 class="card-title">{{ product.name }}</h5></a>
            <p class="card-text">{{ product.description|length > 50 ? product.description|slice(0, 50) ~ '...' : product.description }}</p>
            <h3 class="card-text">{{ product.price }}dt</h3>
            <p class="card-text">{% if product.stock > 99 %}
                                <span class="badge text-bg-success">In Stock</span>
                            {% elseif product.stock > 9 %}
                                <span class="badge text-bg-warning">almost Out Of Stock</span>
                            {% else %}    
                                <span class="badge text-bg-danger">Out Of Stock</span>
                            {% endif %}</p>

            <a href="#" class="btn btn-primary {{ product.stock <= 0 ? 'disabled' : '' }}">Add to Cart</a>
        </div>
        </div>
    </div>
    {% endfor %}

    
</div>
</div>
{% endblock %}


